{% extends "post/base.html" %}
{% block content %}

<!-- userp info -->
  <div class="content-section">
    <div class="media">
      <img class="rounded-circle account-img" src="{{ userp.profile.image.url }}">
      <div class="col-md-12">
        <div class="media-body col-md-12">
          <h4>{{ userp.profile.name }}</h4>

          {% if userp != user and request.user.is_authenticated %}
          <div id="send_connect">
            {% include 'users/connect.html' %}
          </div>
          {% endif %}

          <p class="text-secondary">Username: {{ userp.username }}</p>
          <p class="text-secondary">Email: {{ userp.email }}</p>
        </div>
        <div class="col-md-12">
          <h7>Posts: {{ posts|length }}</h7>
        </div>
      </div>
    </div>
  </div>
<hr>

<!-- User posts -->
  {% for post in posts %}

  <article class="media content-section">
    <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}" >
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
        <small class="text-muted">{{ post.date_posted }}</small>
      </div>
      <h5><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h5>
      <p class="article-content">{{ post.content }}</p>
    </div>
  </article>


<!-- Pagination -->
  {% endfor %}
  {% if is_paginated %}
    {% if page_obj.has_previous %}
      <a class="btn btn-sm btn-outline-info mb-4" href="?page=1">First</a>
      <a class="btn btn-sm btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}"><< Prev.</a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
      {% if page_obj.number == num %}
        <a class="btn btn-sm btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
      <a class="btn btn-sm btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next>></a>
      <a class="btn btn-sm btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    {% endif %}

  {% endif %}

{% endblock content %}
